<h1>Hello world!</h1>
<zippy title="Shipping details">
    Shipping details content
</zippy>
<br>
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<br>
<bootstrap-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>
<br>
<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
>
</like>
<br>
<br>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div>
<br>
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List view</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List View content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>
<br>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses2; index as i; even as isEven">
        {{ i }} - {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">Change</button>
    </li>
</ul>

<br>
<button (click)="loadCourses()">Load courses</button>
<ul>
    <li *ngFor="let course of courses3; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul>
<br>

<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white': 'black'
    }"
>
Save
</button>
<br>
<span> {{task.assignee?.name}}</span>
<br>
<input type="text" [appInputFormat]="'uppercase'">